/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

main {
  display: block;
}

p,
figure,
h2,
ul,
li,
button,
cite {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

cite {
  font-style: normal;
}

/* icon fonts */
@font-face {
  font-display: inline-block;
  font-family: "posse-icon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/posse-icon.ttf?bbqgr3") format("truetype"), url("../fonts/posse-icon.woff?bbqgr3") format("woff"), url("../fonts/posse-icon.svg?bbqgr3#posse-icon") format("svg");
}

i {
  speak: never;
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "posse-icon" !important;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
}

.l-main {
  padding: 32px 12px 56px;
}

.l-container {
  margin: 0 auto;
  max-width: 1032px;
  padding: 0 16px;
  width: 100%;
}

.p-quiz-container {
  margin-top: 48px;
}

.p-quiz-box:not(:first-of-type) {
  margin-top: 80px;
}

.p-quiz-box__label {
  background-color: #0071bc;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 16px;
}

.p-quiz-box__label--accent {
  background-color: #e34e70;
}

.p-quiz-box__question__title {
  margin: 0;
}

.p-quiz-box__question__title__text {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
  margin-top: 16px;
}

.p-quiz-box__question__image {
  margin: 24px auto 0;
  max-width: 718px;
}

.p-quiz-box__answer {
  margin-top: 32px;
}

.p-quiz-box__answer__list {
  display: grid;
  gap: 8px;
  margin-top: 16px;
}

.p-quiz-box__answer__button {
  align-items: center;
  border: solid 4px #eee;
  border-radius: 8px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  padding: 16px;
  text-align: left;
  width: 100%;
}

.p-quiz-box__answer__button .u-icon__arrow {
  font-size: 12px;
  margin-left: auto;
}

.p-quiz-box__answer__button:disabled .u-icon__arrow {
  display: none;
}

.p-quiz-box__answer__button.is-selected {
  background-color: #eff2f5;
  border-color: #0071bc;
}

.p-quiz-box__answer__button.is-selected .u-icon__arrow {
  display: none;
}

.p-quiz-box__note {
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 8px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  gap: 16px;
  line-height: 1.8;
  margin-top: 16px;
  padding: 24px;
}

.p-quiz-box__answer__correct {
  background-color: #fff2f5;
  border-radius: 8px;
  display: none;
  margin-top: 16px;
  padding: 24px 40px;
}

.p-quiz-box__answer__correct.is-correct {
  display: block;
}

.p-quiz-box__answer__correct.is-incorrect {
  background-color: #eff2f5;
  display: block;
}

.p-quiz-box__answer__correct__title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.is-correct .p-quiz-box__answer__correct__title {
  color: #e34e70;
}

.is-incorrect .p-quiz-box__answer__correct__title {
  color: #0071bc;
}

.p-quiz-box__answer__correct__content {
  align-items: baseline;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  gap: 18px;
  line-height: 1.8;
  margin-top: 16px;
}

.p-quiz-box__answer__correct__content__label {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 24px;
}

.u-icon__arrow:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid currentColor;
  vertical-align: middle;
}

.u-icon__note:before {
  content: "i";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid currentColor;
  border-radius: 50%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  vertical-align: middle;
}

@media not all and (min-width: 768px) {
  .p-quiz-box__note .u-icon__note {
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) {
  .l-main {
    padding-top: 80px;
  }

  .l-container {
    padding: 0 24px;
  }

  .p-quiz-container {
    margin-top: 120px;
  }

  .p-quiz-box:not(:first-of-type) {
    margin-top: 120px;
  }

  .p-quiz-box__label {
    font-size: 36px;
  }

  .p-quiz-box__question__title__text {
    font-size: 36px;
    line-height: 1.5;
    margin-top: 24px;
  }

  .p-quiz-box__question__image {
    margin-top: 64px;
  }

  .p-quiz-box__answer {
    margin-top: 64px;
  }

  .p-quiz-box__answer__list {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }

  .p-quiz-box__answer__button {
    border-width: 5px;
    font-size: 18px;
    padding: 19px;
  }

  .p-quiz-box__answer__button .u-icon__arrow {
    font-size: 16px;
  }

  .p-quiz-box__note {
    font-size: 18px;
  }
}
